<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>

        <property name="hibernate.connection.url">jdbc:sqlite:C:/Users/sorn/Documents/GitHub/UBB/4th_semester/MPP/teme-lab-sorinturculet/GradleProject/server/triathlon.db</property>
        <!--
        <property name="hibernate.connection.url">jdbc:sqlite:triathlon.db</property>
      -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>


        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>

        <!-- Entities -->
        <mapping class="ro.mpp2024.models.Participant"/>
        <mapping class="ro.mpp2024.models.Result"/>
        <mapping class="ro.mpp2024.models.User"/>

    </session-factory>
</hibernate-configuration>
